
.main_container{
    height: 90vh;
    color: black;
    padding: 2px;
}

.main_container .nav-tabs a{
    color: black;
}
.main_container .nav-tabs a:hover{
    color: black;
} 
.tab_header{
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-right: 0px;
}
.tab_title, .tab_btn{
    margin: auto;
}
.tab_btn{
    display: flex;
    justify-content: right;
    padding: 0;
    padding-top: 5px;
}
.tab_title h3{
   padding: 0;
   margin: auto;
   margin-left: 5px;
   margin-top: 10px;
}
.tab_title2, .tab_btn2{
    margin: auto;
}
.tab_btn2{
    display: flex;
    justify-content: right;
    padding: 0;
    padding-top: 5px;
}
.tab_title2 h3{
   padding: 0;
   margin: auto;
   margin-left: 5px;
   margin-top: 10px;
}


.tab_content{
    text-align: center;
}
.event_table_cont{
    height: 72vh;
    text-align: center;
    width: 100%;
    margin: auto;
    overflow: auto;
}
.event_table_cont table{
    width: 100%;
    margin: auto;
}
.event_table_cont th, td{
    text-align: center;
}
.user_password{
    text-align: center;
    border: none;
    background-color: transparent;
} 
.chckbx{
    height: 20px;
    width: 20px;
}
.chckbx:hover{
    cursor: pointer;
}
.admin_nav{
    background-color: rgba(145, 161, 151, 0.468);
}