
.c_acct_row{
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.c_modal_dialog{
    margin-top: 10%;
}

.c_header{
    border-bottom: none;
}

.input_fields_cont{
    width: 50%;
    margin: auto;
    text-align: center;
    min-height: 70%; 
    margin-top: 7%;
    margin-bottom: 10%;
    background-color: #243647;
}
.input_fields_cont h2{
    margin: auto;
    margin-top: 10px;
    background-color: transparent;
    width: 90%;
    border-radius: 10px;
    font-size: 40px;
}

.input_fields_table, img{
    margin: auto;
    line-height: 60px;
    width: 90%;
}
.input_fields{
    width: 100%;
}

.fields{
    width: 50%;
}

.input_fields input{
    color: black;
}

.c_btn{
    width: 90%;
    color: black;
}
#create_username, #create_password{
    border: none;
    border-bottom: 1px solid blue;
    border-radius: 0%;
}