
 /* FOOTER */
.footer{
    background-color: rgba(242, 238, 238, 0.534);
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer .icts_footer{
    margin: auto;
}
.footer .icts_footer .footer_th h4{
    margin: auto;
}
.footer .icts_footer .footer_th, .footer_td{
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}
