
/* MAIN CONTENT */
.home_container{
    height: 89vh;
} 
.tab-content{
    height: 81vh;
}

.tab_header{
    display: flex;
    justify-content: center;
    height: 10%;
    padding-left: 10px;
    padding-right: 10px;
}
.tab_title, .tab_title{
    margin: auto;
}
.tab_title, .tab_button{
    padding-left: 10px;
    padding-right: 5px;
    height: 100%;
}
.tab_button{
    padding-left: 0;
    padding-right: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.tab_header h3, .btn_add {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.tab_header h3{
    font-size: 25px;
    height: 29px;
}
.btn_add{
    width: 20%;
    font-size: 18px;
    display: flex;
    justify-content: center; 
}
/* DATA CONTAINER*/
.nav-tabs li a{
    color: black;
}
.nav-tabs li a:hover{
    color: black;
}

.tab-content .table{
    width: 100%;
    table-layout: fixed;
}
.tab-content td{
    word-wrap: break-word;
}
.event_table_cont{
    width: 100%;
    height: 76vh;
    overflow: auto;
}
.event_table_cont table{
    width: 100%;
    margin: auto;
}
.action_th, .action_td{
    text-align: center;
}
.btn_activate{
    min-width: 50px;
    max-width: 100%;
    margin: 0;
}

/* quote modal design */
.quote_table{
    width: 100%;
    margin: auto;
}
#quote_input, #edited_quote_input{ 
    height: 200px;
    width: 100%;
    resize: none;
}
.quote_input{
    text-align: left;
    font-size: large;
}

/* system modal */
.sys_modal_dialog{
    margin-top: 20%;
}
.sys_modal_content{ 
    color: black;
}
.sys_modal_header{
    height: 20%;
    border-bottom: none;
}
.sys_mod_body{
    overflow: auto;
}  
.sys_modal_footer{
    border-top: none;
}

/* CMES */
#cmes .event_table_cont .cmes_date{
    background-color: rgba(235, 237, 235, 0.374);
    font-size: larger;
}

#cmes .cmes_btn{
    background-color: transparent;
    border: none;
    font-size: larger;
}
#cmes .cmes_del{
    color: rgba(255, 0, 0, 0.625);
}
#cmes .cmes_edit{
    color: rgba(255, 140, 0, 0.605);
}

/*  */
#birthday .edit_btn, .delete_btn{
    background-color: transparent;
    border: none;
    font-size: larger;
}
#birthday .delete_btn{
    color: rgba(255, 0, 0, 0.625);
}
#birthday .edit_btn{
    color: rgba(255, 140, 0, 0.605);
}

/*  */
#quote .edit_quote_btn, .delete_quote_btn, #hrep_actvts .hrept_act_edit, .hrept_act_delete{
    background-color: transparent;
    border: none;
    font-size: larger;
}
#quote .delete_quote_btn, #hrep_actvts .hrept_act_delete{
    color: rgba(255, 0, 0, 0.625);
}
#quote .edit_quote_btn, #hrep_actvts .hrept_act_edit{
    color: rgba(255, 140, 0, 0.605);
}

.navbar .home_nav{
    background-color: rgba(195, 192, 192, 0.556);
}

/*  */ 
#hrep_act_img_prev{
    max-width: 100%; 
    max-height: 250px;
}

#del_hrep_act_modal .modal-dialog{
    margin-top: 20%;
}
#del_hrep_act_modal .modal-content{
    min-height: 100px;
    text-align: right;
}


/* ICTS ANNOUNCEMENTS */
.multiline{
    white-space:pre-wrap;
}
.icts_ann_title{
    background-color: rgba(235, 237, 235, 0.374);
   
}
#icts_annncmnts .edit_btn, .delete_btn{
    background-color: transparent;
    border: none;
    font-size: larger;
}
#icts_annncmnts .delete_btn{
    color: rgba(255, 0, 0, 0.625);
}
#icts_annncmnts .edit_btn{
    color: rgba(255, 140, 0, 0.605);
}