body{
    background-color: #a19c9ced;
    background-image: linear-gradient(to right, #0e346f, #154a88, #1d60a0, #2578b9, #2e90d1);
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.input_fields_cont, .input_fields_cont2{
    width: 50%;
    margin: auto;
    text-align: center;
    min-height: 70vh; 
    margin-bottom: 10%;
    background-color: #f3f2f2e6;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px;
}
.input_fields_cont{
    margin-top: auto;
    margin-bottom: auto;
}

.input_fields_cont2{
    margin-top: auto;
    margin-bottom: auto;
}
.input_fields_cont .alert{
    width: 100%;
}
.input_fields_cont h2{
    margin: auto;
    margin-top: 10px;
    width: 100%;
    font-size: 40px;
    color: black;
}
.input_fields_table, .acct_recovery{
    margin: auto;
    line-height: 60px;
    width: 90%;
}
.input_fields{
    width: 100%;
}
.input_fieldss a{
    text-decoration: none;
    text-align: left;
    display: flex;
    width: fit-content;
}
.input_fieldss a:hover{
    cursor: pointer;
}
.input_fields input{
    background-color: transparent; 
    border: none;
    border-bottom: 1px solid;
    border-color: rgb(0, 119, 255);
    border-radius: 0;
    color: black;
    font-size: 20px;
}
.btn{
    width: 80%;
}
.fields{
    width: 50%;
}
#login_btn{
    width: 100%;
}

/*  */
.pass{
    text-align: left;
    padding: 0px;
}

#password{
    display: inline;
    width: 88%;
}

.see, .unsee{
    margin-left: 2%;
    width: 10%;
    display: inline;
    height: 100%;
}
.unsee{
    display: none;
}
.see, .unsee:hover{
    cursor: pointer;
}

/* alert */
.alert{
    text-align: left;
    width: 80%;
    margin: auto;
}

/* Account recovery */
.input_fields_cont2 h2{
    padding: 20px;
}
.input_fields_cont2 .alert, input{
    width: 90%;
}
.acct_recovery{
    line-height: unset;
}
.go_to_login{
    border: none;
    background-color: transparent;
    color: blue;
}
.acct_recovery_msg_td{
    line-height: 20px;
}
.acct_recovery_msg{
    display: flex;
    justify-content: left;
    align-items: center;
}
.input_fields_cont2 button{
    width: 100%;
}