body{
    background-color: #a19c9ced;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
}
.input_fields_cont{
    width: 50%;
    margin: auto;
    text-align: center;
    min-height: 70%; 
    margin-top: 9%;
    margin-bottom: 10%;
    background-color: #f3f2f2e6;
    border-radius: 30px;
}
.input_fields_cont h2{
    margin: auto;
    margin-top: 10px;
    width: 100%;
    font-size: 40px;
    color: black;
}
.icts_logo{
    width: 200px;
    height: 90px;
}
.icts_logo:hover{
    transform: rotate(-20deg);
}
.input_fields_table, img{
    margin: auto;
    line-height: 60px;
    width: 90%;
}
.input_fields{
    width: 100%;
}
.input_fieldss a{
    text-decoration: none;
    text-align: left;
    display: flex;
}
.input_fieldss a:hover{
    cursor: pointer;
}
.input_fields input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    border-color: rgb(0, 119, 255);
    border-radius: 0;
    color: black;
    font-size: 20px;
}
.btn{
    width: 80%;
}
.fields{
    width: 50%;
}

