.navbar{
    background-color: rgba(213, 198, 198, 0.444);
}
.navbar h1{
    margin: auto;
}

#navbarNav{
    padding-left: 2%;
    font-size: large;
}
#navbarNav .navbar-nav .nav-link{
    margin-right: 50px;
    color: black;
}
.nav-link:hover{
    background-color: rgba(195, 192, 192, 0.556);
}
#navbarNav .navbar-nav .logout{
    color: red;
}
.logout{
    position: absolute;
    right: 0;
}
@media (max-width:991px){
    .logout{
        position: inherit;
    } 
} 