.navbar{
    background-color: rgba(213, 198, 198, 0.444);
    background-image: linear-gradient(to right, #10499f, #0060ab, #0074af, #0087af, #1198ac);
    background-image: linear-gradient(to right, #0e346f, #154a88, #1d60a0, #2578b9, #2e90d1);
}
.navbar h1{
    margin: auto;
}

#navbarNav{
    padding-left: 2%;
    font-size: large;
}
#navbarNav .navbar-nav .nav-link{
    margin-right: 50px;
    color: white;
}
.nav-link:hover{
    background-color: rgba(195, 192, 192, 0.556);
    text-decoration: none;
}
#navbarNav .navbar-nav .logout{
    color: red;
    color: maroon;
    color: white;
}
.logout{
    position: absolute;
    right: 0;
}
@media (max-width:991px){
    .logout{
        position: inherit;
    } 
} 
.my_account:hover{
    cursor: pointer;
}


/* my account elements */
.in_lbl_chng{ 
    display: flex;
    justify-content:space-between;
}
.chng_btn{
    display: inline-flex;
    align-items: end;
    border: none;
    height: 40px;
}
.chng_btn:hover{
    color: blue;
}
.change_buttons_div{
    display: flex;
    justify-content: right;
}
.change_buttons_div .btn:first-child{
    margin-right: 20px;
}
.bring_to_front{
    z-index: 1051;
}
.ccm_dialog{
    height: 100px;
}
.confirm_btn{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.confirm_btn .btn{
    margin-top: 10%;
    width: 45%;
    height: 50px;
}