::-webkit-scrollbar{
    border: none;
    background-color: none;
}
.bday{
    display:flex;
    justify-content: center;
    overflow: auto;
    width: 98%;
    height: 80vh;
}
.bday_card{
    min-width: 19rem;
    max-width: 19rem;
    min-height: 80%;
    margin-right: 50px;
}
.bday_card_body{
    width: 100%;
    min-height: 90%;
    max-height: 90%;
    padding: 0;
}
.birthday_image{
    width: 100%;
    height: 85%;
}
.bday_card_foot{
    width: 100%;
    height: 5%;
    text-align: right;
}
.bday_num{
    font-size: 30px;
}

/* quote */
.quote_display{
    width: 70%;
    margin: auto;
    margin-top: 10%;
    letter-spacing: 2px;
    text-align: center;
}

/* CMES */
.cmes_disp_table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
.cmes_display{
    height: 90vh;
    overflow: auto;
}
.cmes_date{
    background-color: rgba(208, 200, 200, 0.729); 
}

.multiline{
    white-space:pre-wrap;
}
.displays{
    height: 100vh;
}

/* Hrep Act */
.hrep_activity{
    display: flex;
    justify-content:space-between;
    text-align: center;
    overflow: auto;
}
.hrep_act_card{
    width: 30%;
    height: 70vh;
}
.hrep_act_card_body{
    padding: 0;
    width: 100%;
    height: 100%;
}
.hrep_act_img{
    width: 100%;
    height: 100%;
}

/* ICTS ANNOUNCEMENT DISPLAY */
.icts_announcement .icts_ann_display{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    width: 40%;
    height: 90vh;
}

.icts_ann_display .card{
    margin-right: 15px;
}

.icts_ann_display .card-header{
    background-color: rgb(3, 3, 71);
    color: white;
}

.icts_ann_display .card-body{
    text-align: center;
    overflow: auto;
    background-color: rgb(10, 10, 62);
    color: white;
}

.icts_ann_display .card_body_title{
    background-color: rgb(121, 225, 161);
    color: black;
}