
/* .main_container{
} */

.icts_logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 70px;
    margin-top: 15px;margin-left: 10px;
    margin-bottom: 15px;
}

/* ICTS ANNOUNCEMENTS */  
.icts_ancmnts_cont{
    display:flex;
    justify-content: space-between;
    overflow: auto;
    width: 100%;
}  
.icts_ancmnt_title{
    width: 70%;
    border:1px solid rgba(149, 105, 9, 0.946);
    color: rgba(200, 140, 10, 0.946);
    text-align: center;
    margin: auto;
    margin-top: 60px;
}
.icts_ancmnt_card{
    min-height: 28rem;
    min-width: 19rem;
    max-height: 25rem;
    max-width: 19rem;
    border: 1px solid orange;
    background-color: transparent;
    margin-right: 20px;
    border-radius: 15px;
    color: aliceblue;
}
.icts_ancmnt_card h5{
    background-color: rgba(200, 140, 10, 0.946); 
    color: black; 
    font-weight: bold; 
}
.icts_ancmnt_card h4{
    color: rgba(246, 119, 15, 0.982);
}
ul li{
    list-style: none;
}
.qr_code{
    margin: auto;
    width: 200px;
    height: 200px;
    border: 1px solid orange;
    font-size: 120px;
}

/* COMMITTEE MEETING AND EVENT SCHEDULE */
.cmes_table .cmes_date{
    background-color: lightblue;
    color: black;
    text-align: left;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 20px;
}
.cmes_thead{
    background-color:rgba(232, 112, 14, 0.765);;
    font-size: larger;
}
.cmes_table th, td{
    font-size: larger;
}
