.bday{
    display:flex;
    overflow: auto;
    width: 98%;
    height: 80vh;
}
.bday_card{
    min-width: 20rem;
    min-height: 80%;
    margin-right: 50px;
}
.bday_card_body{
    width: 100%;
    min-height: 90%;
    max-height: 90%;
}
.birthday_image{
    width: 100%;
    height: 85%;
}
.bday_card_foot{
    width: 100%;
    height: 5%;
    text-align: right;
}

/* quote */
.quote_display{
    width: 70%;
    margin: auto;
    margin-top: 10%;
    letter-spacing: 2px;
    text-align: center;
}